html, 
body {
    height: 100%;  
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.main-page {
    background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
    height: 720px;
    display: flex;
    flex-direction: column;
}

header {
    margin-top: 34px;
    margin-bottom: 58px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-text {
    margin-left: 18px;
}

.gus-container {
    background: #FFF;
    padding: 60px 56px;
    align-self: center;
}

.gus-title {
    color: #0D1014;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
}

.gus-greeting {
    color: #0D1014;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.gus-start {
    color: #FF6B0A;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 48px;
}

.gus-descr {
    color: #0D1014;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.gus-launch {
    background: #FF6B0A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 12px 24px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.gus-image {
    align-self: flex-end;
}

.main-page-row {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.gus-facts {
    padding: 52px 0 72px  0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gus-title-facts {
    color: #0D1014;
    font-weight: 600;
    font-size: 48px;
    line-height:100px;
    margin: 16px 0;
}

.gus-descr-facts {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #0D1014;
    width: 875px;
}

.gus-facts-container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
}


.gus-fact-item {
    width: 33%;
}

.gus-fact-title {
    color: #0D1014;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin: 12px 0 32px 0;
}

.gus-fact-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0D1014;
    width: 280px;
}

.peremoga-bgd {
    width: 1170px;
    background: linear-gradient(270deg, #A5DEFF 0%, #B8E5FF 0.01%, #D5EFFE 0.02%, #FCFEFF 96.35%);
    padding: 72px 0;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.peremoga-footer {
    display: flex;
    justify-content: center;
}

.peremoga-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #0D1014;
    margin: 16px 0;
}

.peremoga-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0D1014;
    width: 875px;
    text-align: center;
}

.modal-bgd {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(13 16 20 / 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

    opacity: 0;
    pointer-events: none;
}

.modal-form {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-form-conteiner {
    background: #FFF;
    padding: 32px 92px 60px 92px;
    position: relative;
}

.modal-form-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #000;
    margin: 32px 0 12px 0;
}

.modal-form-descr {
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.modal-form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    position: relative;
}

.modal-field-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-bottom: 8px;
}

.modal-field-input {
    border: 1px solid #005BBB;
    box-sizing: border-box;
    border-radius: 8px;
    height: 48px;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    padding: 4px 8px;
}

.modal-form-btn {
    background: #FF6B0A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 12px 24px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    margin-top: 24px;
}

.close-btn {
    position: relative;
    right: -440px;
    top: -20px;
    color: #0D1014;
    font-size: 20px;
    cursor: pointer;
    border: 0;
    background: none;
}

.close-btn-final {
    position: relative;
    right: -290px;
    top: -20px;
    color: #0D1014;
    font-size: 20px;
    cursor: pointer;
    border: 0;
    background: none;
}

.modal-form-descr {
    margin-bottom: 0;
}
 
.modal-active {
    opacity: 1;
    pointer-events: all;
}

.gus-anim {
    position: fixed;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}


